*{
    font-family: Work Sans;
    margin: 0;
    font-style: normal;
}
.frame01{
    background-image: url(../images/banner/banner2.png);
    width: 1600px;
    height: 809px;
    margin: 0;
}
.banner{
    text-align: right;
 }
 .look{
    color: crimson;
 }
.banner-title{
    margin-right: 50px;
   height: 228px;
   left: 845px;
   top: 216px;
   font-weight: 700;
   font-size: 65px;
   color: #151414;
   margin-bottom: 30px;
 }
 .banner-description{
    margin-right: 50px;
    height: 80px;
    font-size: 20px;
    line-height: 30px;
    color: #444343; 
    margin-bottom: 30px;
}
.btn-primary{
    background-color:crimson;
    padding: 20px 10px;
    text-align: center;
    width: 160px;
    margin-right: 50px;
    font-size: 20px;
    margin-top: 20px;
}
.part02{  
    display:flex;
    max-width: 1072px 730px; 
    margin-top: 91px;
    margin-left: 206px;
    margin-right: 322px;
    text-align: center;
}
.list-details{
    text-align: center;
    margin-top: 300px;
    margin-left: 50px;
    
}
.failures{
    font-size: 40px;
    color: #151414;
}
.failing-description{
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    color: #444343;
}
.list{
    list-style-type: none;
    position: absolute;
    text-align: justify;
}
.Plan{
    text-align: center;
    margin-top: 130px;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 40px;
}
.skill-container{
    text-align: center;
     display:flex;
    gap: 10px;
    justify-content: space-evenly;max-width: 1030px 300px;
    margin: 10px;
    
}
.skill-title{
    margin: 20px;
    font-size: 25px;
    font-weight: 600;
}
.skill-description{
    margin: 20px;
    font-size: 20px;
    font-weight: 400;
}
.part04{
    background-image: url(../images/watch.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 1140px;
    height: 200px;
    border-radius: 8px;
    margin-left: 180px;
    margin-right: 200px;
    margin-top: 124px;
    margin-bottom: 130px;
    
}
.advice{
    margin-left: 200px;
    color: rgb(251, 77, 3);
    font-size: 30px;
    font-weight: 600;
    margin-top: 200px;
    margin-bottom: 24px;
    margin-left: 20px;
    margin-right: 800px;
}
.btn-secondary{
    margin-left: 200px;
    color: rgb(237, 41, 19);
    font-size: 20px;
    font-weight: 200;
    padding: 10px 25px;
    text-align: center;
    margin-left: 20px;
    margin-right: 800px;
}
.part05{
    color: #151414;
}
.contact{
    display: flex;
    justify-content: space-between;
    background-color: #151414;   
}
.ending02{
    color: aliceblue;
    margin-left: 500px;
    margin-right: 230px;
    font-size: 15px;
    margin-top: 30px;
} 
.btn{
    margin-top: 10px;
    background-color: crimson;
}

.ending{
    color: aliceblue;
    margin-left: 230px;
    font-size: 18px;
    margin-top: 30px;
}
.conclution{
    margin-bottom: 20px;
}
.section-title{
    font-size: 30px;
    margin-bottom: 15px;
}
  