/* frame 01 */
*{
    font-family: Work Sans ;
    font-style: normal;
    position: absolute;
    margin: 0;
}
.frame01{
    background-image: url(../images/banner/banner2.png);
    width: 1600px;
    height: 809px;
}
.banner{
   text-align: right;
}
.banner-title{
    width: 525px;
   height: 228px;
   left: 845px;
   top: 216px;
   font-weight: 700;
   font-size: 65px;
   line-height: 76px;
   color: #151414;
}
.banner-description{
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}
.btn-primary{
    background-color: rgb(236, 50, 87);
    padding: 20px 10px;
    text-align: center;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
}
/* frame 02 */
.part02{  
    display:flex;
    
}
.details-list{ 
    width: 416px;
    height: 400px;
    left: 862px;
    top: 1178px;
    
}
.image02{
    width: 569px;
    height: 723.3px;
    left: 206px;
    top: 939px;
}

.failures{
    width: 288px;
    height: 94px;
    left: 862px;
    top: 1178px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}
.failing-description{
    width: 416px;
    height: 104px;
    left: 862px;
    top: 1296px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}
.list{
    width: 349px;
    height: 162px;
    left: 862px;
    top: 1416px;
}